@tailwind base;
@tailwind components;

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    font-family: 'Barlow', sans-serif;
}

.logo {
    font-family: 'Pangolin', cursive !important;
}

@tailwind utilities;